:root{
    --ff-primary: "Gill Sans Extrabold", Helvetica, sans-serif;
    --ff-secondary: 'Courier New', Courier, monospace;
    --clr-dark: #131623;
    --clr-light: #f8e4cb;
    --clr-main: #701c99;
    --clr-cmp1: #aa20d9;
    --clr-cmp2: #3b105d;
}

*{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-padding-top: 15rem;
    background-color: inherit;
    font-size: 16px;
    font-family: var(--ff-primary);
    word-break: break-word;
    color: var(--clr-light);
}
html{
    background-color: var(--clr-dark);
}

* a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--clr-light);
}
* a:hover{
    outline-width: 0;
    cursor: pointer;
    font-weight: bold;
    color:var(--clr-cmp1);
}

* blockquote{
    display: block;
    margin: 1rem;
    border-left: 10px solid var(--clr-cmp1);
    width: fit-content;
    padding:0.5rem;
    background-color: var(--clr-main);
}

* code{
    overflow: scroll;
}

pre>code{
    display: block;
    padding: 1rem;
}
p>code{
    color: var(--clr-cmp1);
    font-weight: bold;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6{
    display:block;
    margin:0.5rem;
    font-size: 1.5rem;
    color:var(--clr-light);
}

* h1{
    font-size: 2rem;
    text-align: center;
}

* h2{
    font-size: 2rem;
}

* hr{
    margin: 0.5rem;
    border-color: var(--clr-cmp1);
}

* img{
    display: block;
    margin:1rem;
    border-style: none;
    width: 50%;
}

* li{
    margin: 0.5rem 1rem;
}

* p{
    margin:1rem;
    font-size: 1rem;
}

* pre{
    display: block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--clr-cmp2) inset, -0.5rem -0.5rem 0.5rem var(--clr-cmp1) inset;
    border-radius: 2rem;
    padding:2rem;
    background-color:var(--clr-main);
}

* table,
* th,
* td{
    margin:0 1rem 2rem;
    border: 1px solid var(--clr-light);
    padding: 1rem 1rem;
}

* table{
    width: fit-content;
    width: 90%;
    border-collapse: collapse;
}

* th{
    font-size: 1.2rem;
    color: var(--clr-cmp1);
}

* ul{
    list-style: circle inside;
}

@media screen and (min-width:480px){
    * a{
        font-size: 1rem;
    }
    * li{
        margin:0 1rem;
    }
    * table,
    * th,
    * td{
        padding: 0 1rem;
        border:none;
    }
    * table{
        max-width: 90%;
        width: auto;
    }
    * pre{
            width: fit-content;
        }


}
.container{
    position: relative;
    padding: 0.5rem;
}

header{
    position: sticky;
    z-index: 1;
    top:0;
    width: 100%;
    padding-top:1rem;
    background-color: var(--clr-dark);
}

#HeaderImage{
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

.Hmenu-ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0;
}

.Hmenu-ul li{
    list-style: none;
}
.Hmenu-ul li a{
    display:inline;

}

@media screen and (min-width:480px) {
    #HeaderImage{
        width: 5rem;
    }
    .Hmenu{
        display:table;
        margin: 0 auto;
    }
    .Hmenu-ul{
        display:block;
        margin:0;
        overflow: hidden;
    }
    .Hmenu-ul li{
        display:list-item;
        float:left;
    }
    .Hmenu-ul li a{
        display: inline-block;
        padding:0.5rem;
    }
}

#searchBox{
    background-color: var(--clr-dark);
}

#searchBox, #searchBox form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchBox form{
    opacity: 0;
    visibility: hidden;
    transition: 2s ease;
}

#searchBox form.show{
    opacity: 1;
    visibility: visible;
}


#searchTitle{
    margin: 0 3% 0 0;
    font-size: 1rem;
    color: var(--clr-light);
}

#searchBox form input{
    transition: 0.6s ease;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--clr-light);
    padding: 0.325rem;
    background-color: var(--clr-dark);
    font-size: 1rem;
    color: var(--clr-light);
}

#searchBox form input:focus{
    border-bottom: 3px solid var(--clr-main);
}

#searchBox button{
    transition: .4s ease;
    margin: 0.3125rem;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0.525rem;
    background-color: var(--clr-main);
    cursor: pointer;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--clr-light);
}

#searchBox button:hover{
    transform: scale(1.095);
}

#searchBox button:active{
    transform: scale(.95);
}

.searchBoxButtons{
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 10%;
    transition: .4s ease;
    padding: 0.3125rem;
    border-radius: 2px;
    background: var(--clr-light);
}

.searchBoxButtons.hide{
    visibility: hidden;
}