:root{
    --ff-primary: "Gill Sans Extrabold", Helvetica, sans-serif;
    --ff-secondary: 'Courier New', Courier, monospace;
    --clr-dark: #131623;
    --clr-light: #f8e4cb;
    --clr-main: #701c99;
    --clr-cmp1: #aa20d9;
    --clr-cmp2: #3b105d;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

html{
    height: 100%;
    background-color: var(--clr-dark);
    font-size: 16px;
    font-family: var(--ff-primary);
    color: var(--clr-light);
}
.container{
    position: relative;
    padding: 0.5rem;
}

/*--HEADERS--*/

h1,
h2,
h3,
h4,
h5,
h6{
    display:block;
    margin:0.5rem;
    font-size: 1.5rem;
    color:var(--clr-light);
}

h1{
    font-size: 3rem;
    text-align: center;
}

h2{
    font-size: 2rem;
}

@media screen and (min-width:480px){
    h1{
        font-size: 2rem;
    }
}

/*--LISTS--*/

ul{
    list-style: circle inside;
}

li{
    margin: 0.5rem 1rem;
}

li>a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--clr-light);
}
@media screen and (min-width:480px){
    li{
        margin:0 1rem;
    }
    li>a{
        font-size:1rem;
    }
}

/*--TABLES--*/

table,th,td{
    margin:0 1rem 2rem;
    border: 1px solid var(--clr-light);
    padding: 1rem 1rem;
}
th{
    font-size: 1.2rem;
}

table{
    width: fit-content;
    width: 90%;
    border-collapse: collapse;
}

@media screen and (min-width:480px){
    table,th,td{
        padding: 0 1rem;
        border:none;
    }
    table{
        max-width: 90%;
        width: auto;
    }
}

/*--BLOCKQUOTE--*/
blockquote{
    display: block;
    margin: 1rem;
    border-left: 10px solid var(--clr-cmp1);
    width: fit-content;
    padding:0.5rem;
    background-color: var(--clr-main);
}

/*--P--*/
p{
    margin:1rem;
    font-size: 1rem;
}
blockquote>p{
    margin: auto;
}

/*--CODE--*/

pre{
    display: block;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--clr-cmp2) inset, -0.5rem -0.5rem 0.5rem var(--clr-cmp1) inset;
    border-radius: 2rem;
    padding:2rem;
    background-color:var(--clr-main);
}
pre>code{
    display: block;
    padding: 1rem;
}
p>code{
    color: var(--clr-cmp1);
    font-weight: bold;
}

/*--IMAGES--*/

img{
    display: block;
    margin:1rem;
    width: 100%;
}
@media screen and (min-width:480px){
    pre{
        width: fit-content;
    }
}
