:root{
    --ff-primary: "Gill Sans Extrabold", Helvetica, sans-serif;
    --ff-secondary: 'Courier New', Courier, monospace;
    --clr-dark: #323334;
    --clr-white: #ffffff;
    --clr-grey: #999999;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-family: var(--ff-primary);
    font-size: 16px;
}
.container{
    position: relative;
    padding: 0.5rem;
}

/*--SearchBox--*/
  
.search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto 40px;
}
 
.search-box>input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--clr-dark);
    padding: 0 15px 0 45px;
    color: var(--clr-white);
    border-radius: 6px;
}
  
.search-box>i{
    position: absolute;
    z-index: 1;
    color: var(--clr-grey);
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}
/*--HEADER--*/

h1{
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    color: var(--clr-dark);
}

h2{
    margin: 10px 0;
    color:var(--clr-dark);
    font-size: 1.5rem;
}

h3{
    margin: 10px 0;
    color:var(--clr-dark);
    font-size: 1rem;
}

h4{
    color:var(--clr-dark);
}

h5{
    color: var(--clr-dark);
}

h6{
    color: var(--clr-dark);
}
/*--LIST--*/

ul{
    list-style: circle outside;
    margin: auto;
}
