<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
	<link href="https://bcngeeks.github.io/Geekateca/style/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
	    <div class="container">
		    <div class="search-box">
			    <i class="bx bx-search"></i>
			    <input type="text" placeholder="Put a word">
		    </div>
		    <div class="content">
			    {{ content }}
		    </div>
	    </div>
	    <script src="script/script.js"></script>
    </body>
</html>
